<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="csdn.itsaysay.main.plugin2.mapper.TestMapper">

    <select id="selectByIdXml" resultType="csdn.itsaysay.main.plugin2.bean.User">
        select * from usertb where id = #{id}
    </select>
</mapper>